<IfModule mod_rewrite.c>
    RewriteEngine on

    ErrorDocument 404 /404
    ErrorDocument 403 /403
    ErrorDocument 401 /401

    RewriteCond %{HTTP_HOST} ^mvc-ui.org
    RewriteRule (.*) https://www.mvc-ui.org/$1 [R=301,L]

    RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$
    RewriteRule ^.*$ - [E=CWD:%2]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/+$ $1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^pagination/(.*) /index.php?num=$1

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^api/products/(.*) /index.php?productspage=$1

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule ^.*$ %{ENV:CWD}index.php [QSA,L]

</IfModule>