<IfModule mod_rewrite.c>
    RewriteEngine on

    ErrorDocument 404 /404
    ErrorDocument 401 /401

    RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$
    RewriteRule ^.*$ - [E=CWD:%2]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/+$ $1 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^dashboard/module/(.*) /index.php?module=$1

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule ^.*$ %{ENV:CWD}index.php [QSA,L]

</IfModule>