.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

/* Icon 1 */
.animated-hamburger1,
.animated-hamburger2,
.animated-hamburger3 {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

}

.animated-hamburger1 span,
.animated-hamburger2 span,
.animated-hamburger3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.animated-hamburger1 span {
    background: #2d7ef7;
}

.animated-hamburger2 span {
    background: #e3f2fd;
}

.animated-hamburger3 span {
    background: #f3e5f5;
}

.animated-hamburger1 span:nth-child(1) {
    top: 0;
}

.animated-hamburger1 span:nth-child(2) {
    top: 10px;
}

.animated-hamburger1 span:nth-child(3) {
    top: 20px;
}

.animated-hamburger1.open span:nth-child(1) {
    top: 11px;
    transform: rotate(135deg);
}

.animated-hamburger1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.animated-hamburger1.open span:nth-child(3) {
    top: 11px;
    transform: rotate(-135deg);
}

/* Icon 3*/

.animated-hamburger2 span:nth-child(1) {
    top: 0;
}

.animated-hamburger2 span:nth-child(2),
.animated-hamburger2 span:nth-child(3) {
    top: 10px;
}

.animated-hamburger2 span:nth-child(4) {
    top: 20px;
}

.animated-hamburger2.open span:nth-child(1) {
    top: 11px;
    width: 0;
    left: 50%;
}

.animated-hamburger2.open span:nth-child(2) {
    transform: rotate(45deg);
}

.animated-hamburger2.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.animated-hamburger2.open span:nth-child(4) {
    top: 11px;
    width: 0;
    left: 50%;
}

/* Icon 4 */

.animated-hamburger3 span:nth-child(1) {
    top: 0;
    transform-origin: left center;
}

.animated-hamburger3 span:nth-child(2) {
    top: 10px;
    transform-origin: left center;
}

.animated-hamburger3 span:nth-child(3) {
    top: 20px;
    transform-origin: left center;
}

.animated-hamburger3.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 0;
    left: 8px;
}

.animated-hamburger3.open span:nth-child(2) {
    width: 0;
    opacity: 0;
}

.animated-hamburger3.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}